body {
  background-color: #f0f2f5;
}


.card {
  border-radius: 12px;
  border: none;
}

.btn-primary {
  background-color: #4f46e5;
  border-color: #4f46e5;
}

.btn-primary:hover {
  background-color: #3c3489;
  border-color: #3c3489;
}

a {
  color: #4f46e5 !important;
}

h1 {
  color: #3c3489;
}