# Dépendances Node.js (très lourd, inutile sur GitHub)
node_modules/

# Fichier secrets (JAMAIS partager ça !)
.env

# Fichiers système Windows
Thumbs.db
desktop.ini

# Fichiers système Mac
.DS_Store

# Logs d'erreurs
*.log
npm-debug.log*

# Dossier de build
dist/
build/

# Dossier de données (si vous en avez un)
data/
postman/